src/main/resources/wsdl/CalendarService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax236="http://room.entity.db.openmeetings.apache.org/xsd" xmlns:ax235="http://room.dto.db.openmeetings.apache.org/xsd" xmlns:ns="http://services.axis.openmeetings.apache.org" xmlns:ax231="http://ws.apache.org/namespaces/axis2/enum" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax229="http://user.entity.db.openmeetings.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax227="http://calendar.dto.db.openmeetings.apache.org/xsd" xmlns:ax228="http://user.dto.db.openmeetings.apache.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://services.axis.openmeetings.apache.org">
    <wsdl:documentation>CalendarService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/namespaces/axis2/enum">
            <xs:simpleType name="Type">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="user"/>
                    <xs:enumeration value="ldap"/>
                    <xs:enumeration value="oauth"/>
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="contact"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema xmlns:ax230="http://user.entity.db.openmeetings.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://user.dto.db.openmeetings.apache.org/xsd">
            <xs:import namespace="http://user.entity.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://user.entity.db.openmeetings.apache.org/xsd"/>
            <xs:complexType name="UserDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresses" nillable="true" type="ax230:Address"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="language_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="login" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rights" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeZoneId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="ax231:Type"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax233="http://user.dto.db.openmeetings.apache.org/xsd" xmlns:ax238="http://room.dto.db.openmeetings.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://calendar.dto.db.openmeetings.apache.org/xsd">
            <xs:import namespace="http://user.dto.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://user.dto.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://room.dto.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://room.dto.db.openmeetings.apache.org/xsd"/>
            <xs:complexType name="AppointmentDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="connectedEvent" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="icalId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="inserted" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="languageId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="meetingMembers" nillable="true" type="ax227:MeetingMemberDTO"/>
                    <xs:element minOccurs="0" name="owner" nillable="true" type="ax233:UserDTO"/>
                    <xs:element minOccurs="0" name="passwordProtected" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="reminder" nillable="true" type="ax227:AppointmentReminderTypeDTO"/>
                    <xs:element minOccurs="0" name="reminderEmailSend" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="room" nillable="true" type="ax235:RoomDTO"/>
                    <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updated" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MeetingMemberDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="ax233:UserDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppointmentReminderTypeDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppointmentCategoryDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="inserted" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updated" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax237="http://room.entity.db.openmeetings.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://room.dto.db.openmeetings.apache.org/xsd">
            <xs:import namespace="http://room.entity.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://room.entity.db.openmeetings.apache.org/xsd"/>
            <xs:complexType name="RoomDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actionsMenuHidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="activitiesHidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="allowUserQuestions" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="appointment" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="audioOnly" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="chatHidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="closed" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="confno" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="demo" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="demoTime" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="filesExplorerHidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="moderated" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numberOfPartizipants" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="public" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="roomtype" nillable="true" type="ax236:RoomType"/>
                    <xs:element minOccurs="0" name="screenSharingHidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="topBarHidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="whiteboardHidden" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax232="http://ws.apache.org/namespaces/axis2/enum" xmlns:ax234="http://calendar.dto.db.openmeetings.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.axis.openmeetings.apache.org">
            <xs:import namespace="http://ws.apache.org/namespaces/axis2/enum"/>
            <xs:import namespace="http://calendar.dto.db.openmeetings.apache.org/xsd"/>
            <xs:element name="updateAppointmentTimeOnly">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="appointmentId" type="xs:long"/>
                        <xs:element minOccurs="0" name="appointmentstart" nillable="true" type="xs:date"/>
                        <xs:element minOccurs="0" name="appointmentend" nillable="true" type="xs:date"/>
                        <xs:element name="languageId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAppointmentTimeOnlyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAppointment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="appointmentId" type="xs:long"/>
                        <xs:element minOccurs="0" name="appointmentName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentLocation" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentDescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentstart" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="appointmentend" nillable="true" type="xs:dateTime"/>
                        <xs:element name="isDaily" type="xs:boolean"/>
                        <xs:element name="isWeekly" type="xs:boolean"/>
                        <xs:element name="isMonthly" type="xs:boolean"/>
                        <xs:element name="isYearly" type="xs:boolean"/>
                        <xs:element name="categoryId" type="xs:long"/>
                        <xs:element name="remind" type="xs:long"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="mmClient" nillable="true" type="xs:string"/>
                        <xs:element name="roomType" type="xs:long"/>
                        <xs:element name="languageId" type="xs:long"/>
                        <xs:element name="isPasswordProtected" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAppointmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchAppointmentByTitle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchAppointmentByTitleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax234:AppointmentDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveAppointment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentLocation" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentDescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appointmentstart" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="appointmentend" nillable="true" type="xs:dateTime"/>
                        <xs:element name="isDaily" type="xs:boolean"/>
                        <xs:element name="isWeekly" type="xs:boolean"/>
                        <xs:element name="isMonthly" type="xs:boolean"/>
                        <xs:element name="isYearly" type="xs:boolean"/>
                        <xs:element name="categoryId" type="xs:long"/>
                        <xs:element name="remind" type="xs:long"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="mmClient" nillable="true" type="xs:string"/>
                        <xs:element name="roomType" type="xs:long"/>
                        <xs:element name="languageId" type="xs:long"/>
                        <xs:element name="isPasswordProtected" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element name="roomId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveAppointmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNextAppointmentForUserId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="userId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNextAppointmentForUserIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax234:AppointmentDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNextAppointment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNextAppointmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax234:AppointmentDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentReminderTypList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentReminderTypListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax234:AppointmentReminderTypeDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentCategoryList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentCategoryListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax234:AppointmentCategoryDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentByRoomId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="room_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentByRoomIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax234:AppointmentDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentByRangeForUserId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="userId" type="xs:long"/>
                        <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="endtime" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentByRangeForUserIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax234:AppointmentDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentByRange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="endtime" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppointmentByRangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax234:AppointmentDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAppointment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="appointmentId" type="xs:long"/>
                        <xs:element name="language_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAppointmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://room.entity.db.openmeetings.apache.org/xsd">
            <xs:complexType name="RoomType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="fieldvalues_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="roomtypes_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://user.entity.db.openmeetings.apache.org/xsd">
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adresses_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="states" nillable="true" type="ax229:State"/>
                    <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="town" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="State">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:int"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="shortName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="state_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAppointmentReminderTypListRequest">
        <wsdl:part name="parameters" element="ns:getAppointmentReminderTypList"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentReminderTypListResponse">
        <wsdl:part name="parameters" element="ns:getAppointmentReminderTypListResponse"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentByRangeRequest">
        <wsdl:part name="parameters" element="ns:getAppointmentByRange"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentByRangeResponse">
        <wsdl:part name="parameters" element="ns:getAppointmentByRangeResponse"/>
    </wsdl:message>
    <wsdl:message name="getNextAppointmentForUserIdRequest">
        <wsdl:part name="parameters" element="ns:getNextAppointmentForUserId"/>
    </wsdl:message>
    <wsdl:message name="getNextAppointmentForUserIdResponse">
        <wsdl:part name="parameters" element="ns:getNextAppointmentForUserIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentByRangeForUserIdRequest">
        <wsdl:part name="parameters" element="ns:getAppointmentByRangeForUserId"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentByRangeForUserIdResponse">
        <wsdl:part name="parameters" element="ns:getAppointmentByRangeForUserIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getNextAppointmentRequest">
        <wsdl:part name="parameters" element="ns:getNextAppointment"/>
    </wsdl:message>
    <wsdl:message name="getNextAppointmentResponse">
        <wsdl:part name="parameters" element="ns:getNextAppointmentResponse"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentByRoomIdRequest">
        <wsdl:part name="parameters" element="ns:getAppointmentByRoomId"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentByRoomIdResponse">
        <wsdl:part name="parameters" element="ns:getAppointmentByRoomIdResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAppointmentRequest">
        <wsdl:part name="parameters" element="ns:updateAppointment"/>
    </wsdl:message>
    <wsdl:message name="updateAppointmentResponse">
        <wsdl:part name="parameters" element="ns:updateAppointmentResponse"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentCategoryListRequest">
        <wsdl:part name="parameters" element="ns:getAppointmentCategoryList"/>
    </wsdl:message>
    <wsdl:message name="getAppointmentCategoryListResponse">
        <wsdl:part name="parameters" element="ns:getAppointmentCategoryListResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAppointmentTimeOnlyRequest">
        <wsdl:part name="parameters" element="ns:updateAppointmentTimeOnly"/>
    </wsdl:message>
    <wsdl:message name="updateAppointmentTimeOnlyResponse">
        <wsdl:part name="parameters" element="ns:updateAppointmentTimeOnlyResponse"/>
    </wsdl:message>
    <wsdl:message name="searchAppointmentByTitleRequest">
        <wsdl:part name="parameters" element="ns:searchAppointmentByTitle"/>
    </wsdl:message>
    <wsdl:message name="searchAppointmentByTitleResponse">
        <wsdl:part name="parameters" element="ns:searchAppointmentByTitleResponse"/>
    </wsdl:message>
    <wsdl:message name="saveAppointmentRequest">
        <wsdl:part name="parameters" element="ns:saveAppointment"/>
    </wsdl:message>
    <wsdl:message name="saveAppointmentResponse">
        <wsdl:part name="parameters" element="ns:saveAppointmentResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAppointmentRequest">
        <wsdl:part name="parameters" element="ns:deleteAppointment"/>
    </wsdl:message>
    <wsdl:message name="deleteAppointmentResponse">
        <wsdl:part name="parameters" element="ns:deleteAppointmentResponse"/>
    </wsdl:message>
    <wsdl:portType name="CalendarServicePortType">
        <wsdl:operation name="getAppointmentReminderTypList">
            <wsdl:input message="ns:getAppointmentReminderTypListRequest" wsaw:Action="urn:getAppointmentReminderTypList"/>
            <wsdl:output message="ns:getAppointmentReminderTypListResponse" wsaw:Action="urn:getAppointmentReminderTypListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRange">
            <wsdl:input message="ns:getAppointmentByRangeRequest" wsaw:Action="urn:getAppointmentByRange"/>
            <wsdl:output message="ns:getAppointmentByRangeResponse" wsaw:Action="urn:getAppointmentByRangeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointmentForUserId">
            <wsdl:input message="ns:getNextAppointmentForUserIdRequest" wsaw:Action="urn:getNextAppointmentForUserId"/>
            <wsdl:output message="ns:getNextAppointmentForUserIdResponse" wsaw:Action="urn:getNextAppointmentForUserIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRangeForUserId">
            <wsdl:input message="ns:getAppointmentByRangeForUserIdRequest" wsaw:Action="urn:getAppointmentByRangeForUserId"/>
            <wsdl:output message="ns:getAppointmentByRangeForUserIdResponse" wsaw:Action="urn:getAppointmentByRangeForUserIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointment">
            <wsdl:input message="ns:getNextAppointmentRequest" wsaw:Action="urn:getNextAppointment"/>
            <wsdl:output message="ns:getNextAppointmentResponse" wsaw:Action="urn:getNextAppointmentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRoomId">
            <wsdl:input message="ns:getAppointmentByRoomIdRequest" wsaw:Action="urn:getAppointmentByRoomId"/>
            <wsdl:output message="ns:getAppointmentByRoomIdResponse" wsaw:Action="urn:getAppointmentByRoomIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateAppointment">
            <wsdl:input message="ns:updateAppointmentRequest" wsaw:Action="urn:updateAppointment"/>
            <wsdl:output message="ns:updateAppointmentResponse" wsaw:Action="urn:updateAppointmentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentCategoryList">
            <wsdl:input message="ns:getAppointmentCategoryListRequest" wsaw:Action="urn:getAppointmentCategoryList"/>
            <wsdl:output message="ns:getAppointmentCategoryListResponse" wsaw:Action="urn:getAppointmentCategoryListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateAppointmentTimeOnly">
            <wsdl:input message="ns:updateAppointmentTimeOnlyRequest" wsaw:Action="urn:updateAppointmentTimeOnly"/>
            <wsdl:output message="ns:updateAppointmentTimeOnlyResponse" wsaw:Action="urn:updateAppointmentTimeOnlyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchAppointmentByTitle">
            <wsdl:input message="ns:searchAppointmentByTitleRequest" wsaw:Action="urn:searchAppointmentByTitle"/>
            <wsdl:output message="ns:searchAppointmentByTitleResponse" wsaw:Action="urn:searchAppointmentByTitleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveAppointment">
            <wsdl:input message="ns:saveAppointmentRequest" wsaw:Action="urn:saveAppointment"/>
            <wsdl:output message="ns:saveAppointmentResponse" wsaw:Action="urn:saveAppointmentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAppointment">
            <wsdl:input message="ns:deleteAppointmentRequest" wsaw:Action="urn:deleteAppointment"/>
            <wsdl:output message="ns:deleteAppointmentResponse" wsaw:Action="urn:deleteAppointmentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalendarServiceSoap11Binding" type="ns:CalendarServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAppointmentReminderTypList">
            <soap:operation soapAction="urn:getAppointmentReminderTypList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRange">
            <soap:operation soapAction="urn:getAppointmentByRange" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointmentForUserId">
            <soap:operation soapAction="urn:getNextAppointmentForUserId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRangeForUserId">
            <soap:operation soapAction="urn:getAppointmentByRangeForUserId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointment">
            <soap:operation soapAction="urn:getNextAppointment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRoomId">
            <soap:operation soapAction="urn:getAppointmentByRoomId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointment">
            <soap:operation soapAction="urn:updateAppointment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentCategoryList">
            <soap:operation soapAction="urn:getAppointmentCategoryList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointmentTimeOnly">
            <soap:operation soapAction="urn:updateAppointmentTimeOnly" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAppointmentByTitle">
            <soap:operation soapAction="urn:searchAppointmentByTitle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAppointment">
            <soap:operation soapAction="urn:saveAppointment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAppointment">
            <soap:operation soapAction="urn:deleteAppointment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalendarServiceSoap12Binding" type="ns:CalendarServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAppointmentReminderTypList">
            <soap12:operation soapAction="urn:getAppointmentReminderTypList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRange">
            <soap12:operation soapAction="urn:getAppointmentByRange" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointmentForUserId">
            <soap12:operation soapAction="urn:getNextAppointmentForUserId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRangeForUserId">
            <soap12:operation soapAction="urn:getAppointmentByRangeForUserId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointment">
            <soap12:operation soapAction="urn:getNextAppointment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRoomId">
            <soap12:operation soapAction="urn:getAppointmentByRoomId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointment">
            <soap12:operation soapAction="urn:updateAppointment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentCategoryList">
            <soap12:operation soapAction="urn:getAppointmentCategoryList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointmentTimeOnly">
            <soap12:operation soapAction="urn:updateAppointmentTimeOnly" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAppointmentByTitle">
            <soap12:operation soapAction="urn:searchAppointmentByTitle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAppointment">
            <soap12:operation soapAction="urn:saveAppointment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAppointment">
            <soap12:operation soapAction="urn:deleteAppointment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalendarServiceHttpBinding" type="ns:CalendarServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAppointmentReminderTypList">
            <http:operation location="getAppointmentReminderTypList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRange">
            <http:operation location="getAppointmentByRange"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointmentForUserId">
            <http:operation location="getNextAppointmentForUserId"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRangeForUserId">
            <http:operation location="getAppointmentByRangeForUserId"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNextAppointment">
            <http:operation location="getNextAppointment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentByRoomId">
            <http:operation location="getAppointmentByRoomId"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointment">
            <http:operation location="updateAppointment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAppointmentCategoryList">
            <http:operation location="getAppointmentCategoryList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointmentTimeOnly">
            <http:operation location="updateAppointmentTimeOnly"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAppointmentByTitle">
            <http:operation location="searchAppointmentByTitle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAppointment">
            <http:operation location="saveAppointment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAppointment">
            <http:operation location="deleteAppointment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalendarService">
        <wsdl:port name="CalendarServiceHttpSoap11Endpoint" binding="ns:CalendarServiceSoap11Binding">
            <soap:address location="http://131.246.123.153:5080/openmeetings/services/CalendarService.CalendarServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalendarServiceHttpSoap12Endpoint" binding="ns:CalendarServiceSoap12Binding">
            <soap12:address location="http://131.246.123.153:5080/openmeetings/services/CalendarService.CalendarServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalendarServiceHttpEndpoint" binding="ns:CalendarServiceHttpBinding">
            <http:address location="http://131.246.123.153:5080/openmeetings/services/CalendarService.CalendarServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
