src/main/resources/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax27="http://server.entity.db.openmeetings.apache.org/xsd" xmlns:ax29="http://basic.dto.db.openmeetings.apache.org/xsd" xmlns:ax24="http://ws.apache.org/namespaces/axis2/enum" xmlns:ns="http://services.axis.openmeetings.apache.org" xmlns:ax22="http://user.entity.db.openmeetings.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://user.dto.db.openmeetings.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://services.axis.openmeetings.apache.org">
    <wsdl:documentation>UserService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/namespaces/axis2/enum">
            <xs:simpleType name="Type">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="user"/>
                    <xs:enumeration value="ldap"/>
                    <xs:enumeration value="oauth"/>
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="contact"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.entity.db.openmeetings.apache.org/xsd">
            <xs:complexType name="Sessiondata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="language_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="organization_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="refresh_time" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="sessionXml" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="starttermin_time" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="storePermanent" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax23="http://user.entity.db.openmeetings.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://user.dto.db.openmeetings.apache.org/xsd">
            <xs:import namespace="http://user.entity.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://user.entity.db.openmeetings.apache.org/xsd"/>
            <xs:complexType name="UserSearchResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="objectName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="records" nillable="true" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true" type="ax21:UserDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresses" nillable="true" type="ax23:Address"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="language_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="login" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rights" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeZoneId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="ax24:Type"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax210="http://basic.dto.db.openmeetings.apache.org/xsd" xmlns:ax25="http://ws.apache.org/namespaces/axis2/enum" xmlns:ax26="http://user.dto.db.openmeetings.apache.org/xsd" xmlns:ax28="http://server.entity.db.openmeetings.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.axis.openmeetings.apache.org">
            <xs:import namespace="http://ws.apache.org/namespaces/axis2/enum"/>
            <xs:import namespace="http://user.dto.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://server.entity.db.openmeetings.apache.org/xsd"/>
            <xs:import namespace="http://basic.dto.db.openmeetings.apache.org/xsd"/>
            <xs:element name="setUserObjectMainLandingZone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectMainLandingZoneResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                        <xs:element name="room_id" type="xs:long"/>
                        <xs:element name="becomeModeratorAsInt" type="xs:int"/>
                        <xs:element name="showAudioVideoTestAsInt" type="xs:int"/>
                        <xs:element name="allowRecording" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRoomHashByURL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                        <xs:element name="room_id" type="xs:long"/>
                        <xs:element name="becomeModeratorAsInt" type="xs:int"/>
                        <xs:element name="showAudioVideoTestAsInt" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRoomHashByURLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRoomHash">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                        <xs:element name="room_id" type="xs:long"/>
                        <xs:element name="becomeModeratorAsInt" type="xs:int"/>
                        <xs:element name="showAudioVideoTestAsInt" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRoomHashResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRecordingHashByURL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                        <xs:element name="recording_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserObjectAndGenerateRecordingHashByURLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserAndNickName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                        <xs:element name="room_id" type="xs:long"/>
                        <xs:element name="becomeModeratorAsInt" type="xs:int"/>
                        <xs:element name="showAudioVideoTestAsInt" type="xs:int"/>
                        <xs:element name="showNickNameDialogAsInt" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserAndNickNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="kickUserByPublicSID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="publicSID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="kickUserByPublicSIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersByOrganisation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="organisation_id" type="xs:long"/>
                        <xs:element name="start" type="xs:int"/>
                        <xs:element name="max" type="xs:int"/>
                        <xs:element minOccurs="0" name="orderby" nillable="true" type="xs:string"/>
                        <xs:element name="asc" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersByOrganisationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:UserSearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSession">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:Sessiondata"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getErrorByCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="errorid" type="xs:long"/>
                        <xs:element name="language_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getErrorByCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:ErrorResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="userId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserByExternalUserIdAndType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserByExternalUserIdAndTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserToOrganisation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element name="user_id" type="xs:long"/>
                        <xs:element name="organisation_id" type="xs:long"/>
                        <xs:element name="insertedby" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserToOrganisationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOrganisation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOrganisationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewUserWithTimeZone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string"/>
                        <xs:element name="states_id" type="xs:long"/>
                        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string"/>
                        <xs:element name="language_id" type="xs:long"/>
                        <xs:element minOccurs="0" name="jNameTimeZone" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewUserWithTimeZoneResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewUserWithExternalType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string"/>
                        <xs:element name="states_id" type="xs:long"/>
                        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string"/>
                        <xs:element name="language_id" type="xs:long"/>
                        <xs:element minOccurs="0" name="jNameTimeZone" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewUserWithExternalTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string"/>
                        <xs:element name="states_id" type="xs:long"/>
                        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string"/>
                        <xs:element name="language_id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://user.entity.db.openmeetings.apache.org/xsd">
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adresses_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="states" nillable="true" type="ax22:State"/>
                    <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="town" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="State">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:int"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="shortName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="state_id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://basic.dto.db.openmeetings.apache.org/xsd">
            <xs:complexType name="ErrorResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errmessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="errortype" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getErrorByCodeRequest">
        <wsdl:part name="parameters" element="ns:getErrorByCode"/>
    </wsdl:message>
    <wsdl:message name="getErrorByCodeResponse">
        <wsdl:part name="parameters" element="ns:getErrorByCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="kickUserByPublicSIDRequest">
        <wsdl:part name="parameters" element="ns:kickUserByPublicSID"/>
    </wsdl:message>
    <wsdl:message name="kickUserByPublicSIDResponse">
        <wsdl:part name="parameters" element="ns:kickUserByPublicSIDResponse"/>
    </wsdl:message>
    <wsdl:message name="addOrganisationRequest">
        <wsdl:part name="parameters" element="ns:addOrganisation"/>
    </wsdl:message>
    <wsdl:message name="addOrganisationResponse">
        <wsdl:part name="parameters" element="ns:addOrganisationResponse"/>
    </wsdl:message>
    <wsdl:message name="addNewUserWithExternalTypeRequest">
        <wsdl:part name="parameters" element="ns:addNewUserWithExternalType"/>
    </wsdl:message>
    <wsdl:message name="addNewUserWithExternalTypeResponse">
        <wsdl:part name="parameters" element="ns:addNewUserWithExternalTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRecordingHashByURLRequest">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRecordingHashByURL"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRecordingHashByURLResponse">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRecordingHashByURLResponse"/>
    </wsdl:message>
    <wsdl:message name="addUserToOrganisationRequest">
        <wsdl:part name="parameters" element="ns:addUserToOrganisation"/>
    </wsdl:message>
    <wsdl:message name="addUserToOrganisationResponse">
        <wsdl:part name="parameters" element="ns:addUserToOrganisationResponse"/>
    </wsdl:message>
    <wsdl:message name="loginUserRequest">
        <wsdl:part name="parameters" element="ns:loginUser"/>
    </wsdl:message>
    <wsdl:message name="loginUserResponse">
        <wsdl:part name="parameters" element="ns:loginUserResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteUserByExternalUserIdAndTypeRequest">
        <wsdl:part name="parameters" element="ns:deleteUserByExternalUserIdAndType"/>
    </wsdl:message>
    <wsdl:message name="deleteUserByExternalUserIdAndTypeResponse">
        <wsdl:part name="parameters" element="ns:deleteUserByExternalUserIdAndTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectMainLandingZoneRequest">
        <wsdl:part name="parameters" element="ns:setUserObjectMainLandingZone"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectMainLandingZoneResponse">
        <wsdl:part name="parameters" element="ns:setUserObjectMainLandingZoneResponse"/>
    </wsdl:message>
    <wsdl:message name="addNewUserRequest">
        <wsdl:part name="parameters" element="ns:addNewUser"/>
    </wsdl:message>
    <wsdl:message name="addNewUserResponse">
        <wsdl:part name="parameters" element="ns:addNewUserResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserAndNickNameRequest">
        <wsdl:part name="parameters" element="ns:setUserAndNickName"/>
    </wsdl:message>
    <wsdl:message name="setUserAndNickNameResponse">
        <wsdl:part name="parameters" element="ns:setUserAndNickNameResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRoomHashByURLAndRecFlagRequest">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlag"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRoomHashByURLRequest">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURL"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRoomHashByURLResponse">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURLResponse"/>
    </wsdl:message>
    <wsdl:message name="getUsersByOrganisationRequest">
        <wsdl:part name="parameters" element="ns:getUsersByOrganisation"/>
    </wsdl:message>
    <wsdl:message name="getUsersByOrganisationResponse">
        <wsdl:part name="parameters" element="ns:getUsersByOrganisationResponse"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRoomHashRequest">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHash"/>
    </wsdl:message>
    <wsdl:message name="setUserObjectAndGenerateRoomHashResponse">
        <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashResponse"/>
    </wsdl:message>
    <wsdl:message name="getSessionRequest">
        <wsdl:part name="parameters" element="ns:getSession"/>
    </wsdl:message>
    <wsdl:message name="getSessionResponse">
        <wsdl:part name="parameters" element="ns:getSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteUserByIdRequest">
        <wsdl:part name="parameters" element="ns:deleteUserById"/>
    </wsdl:message>
    <wsdl:message name="deleteUserByIdResponse">
        <wsdl:part name="parameters" element="ns:deleteUserByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="addNewUserWithTimeZoneRequest">
        <wsdl:part name="parameters" element="ns:addNewUserWithTimeZone"/>
    </wsdl:message>
    <wsdl:message name="addNewUserWithTimeZoneResponse">
        <wsdl:part name="parameters" element="ns:addNewUserWithTimeZoneResponse"/>
    </wsdl:message>
    <wsdl:portType name="UserServicePortType">
        <wsdl:operation name="getErrorByCode">
            <wsdl:input message="ns:getErrorByCodeRequest" wsaw:Action="urn:getErrorByCode"/>
            <wsdl:output message="ns:getErrorByCodeResponse" wsaw:Action="urn:getErrorByCodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="kickUserByPublicSID">
            <wsdl:input message="ns:kickUserByPublicSIDRequest" wsaw:Action="urn:kickUserByPublicSID"/>
            <wsdl:output message="ns:kickUserByPublicSIDResponse" wsaw:Action="urn:kickUserByPublicSIDResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addOrganisation">
            <wsdl:input message="ns:addOrganisationRequest" wsaw:Action="urn:addOrganisation"/>
            <wsdl:output message="ns:addOrganisationResponse" wsaw:Action="urn:addOrganisationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithExternalType">
            <wsdl:input message="ns:addNewUserWithExternalTypeRequest" wsaw:Action="urn:addNewUserWithExternalType"/>
            <wsdl:output message="ns:addNewUserWithExternalTypeResponse" wsaw:Action="urn:addNewUserWithExternalTypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
            <wsdl:input message="ns:setUserObjectAndGenerateRecordingHashByURLRequest" wsaw:Action="urn:setUserObjectAndGenerateRecordingHashByURL"/>
            <wsdl:output message="ns:setUserObjectAndGenerateRecordingHashByURLResponse" wsaw:Action="urn:setUserObjectAndGenerateRecordingHashByURLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addUserToOrganisation">
            <wsdl:input message="ns:addUserToOrganisationRequest" wsaw:Action="urn:addUserToOrganisation"/>
            <wsdl:output message="ns:addUserToOrganisationResponse" wsaw:Action="urn:addUserToOrganisationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="loginUser">
            <wsdl:input message="ns:loginUserRequest" wsaw:Action="urn:loginUser"/>
            <wsdl:output message="ns:loginUserResponse" wsaw:Action="urn:loginUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUserByExternalUserIdAndType">
            <wsdl:input message="ns:deleteUserByExternalUserIdAndTypeRequest" wsaw:Action="urn:deleteUserByExternalUserIdAndType"/>
            <wsdl:output message="ns:deleteUserByExternalUserIdAndTypeResponse" wsaw:Action="urn:deleteUserByExternalUserIdAndTypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectMainLandingZone">
            <wsdl:input message="ns:setUserObjectMainLandingZoneRequest" wsaw:Action="urn:setUserObjectMainLandingZone"/>
            <wsdl:output message="ns:setUserObjectMainLandingZoneResponse" wsaw:Action="urn:setUserObjectMainLandingZoneResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addNewUser">
            <wsdl:input message="ns:addNewUserRequest" wsaw:Action="urn:addNewUser"/>
            <wsdl:output message="ns:addNewUserResponse" wsaw:Action="urn:addNewUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUserAndNickName">
            <wsdl:input message="ns:setUserAndNickNameRequest" wsaw:Action="urn:setUserAndNickName"/>
            <wsdl:output message="ns:setUserAndNickNameResponse" wsaw:Action="urn:setUserAndNickNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
            <wsdl:input message="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlagRequest" wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlag"/>
            <wsdl:output message="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse" wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
            <wsdl:input message="ns:setUserObjectAndGenerateRoomHashByURLRequest" wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURL"/>
            <wsdl:output message="ns:setUserObjectAndGenerateRoomHashByURLResponse" wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUsersByOrganisation">
            <wsdl:input message="ns:getUsersByOrganisationRequest" wsaw:Action="urn:getUsersByOrganisation"/>
            <wsdl:output message="ns:getUsersByOrganisationResponse" wsaw:Action="urn:getUsersByOrganisationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHash">
            <wsdl:input message="ns:setUserObjectAndGenerateRoomHashRequest" wsaw:Action="urn:setUserObjectAndGenerateRoomHash"/>
            <wsdl:output message="ns:setUserObjectAndGenerateRoomHashResponse" wsaw:Action="urn:setUserObjectAndGenerateRoomHashResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSession">
            <wsdl:input message="ns:getSessionRequest" wsaw:Action="urn:getSession"/>
            <wsdl:output message="ns:getSessionResponse" wsaw:Action="urn:getSessionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUserById">
            <wsdl:input message="ns:deleteUserByIdRequest" wsaw:Action="urn:deleteUserById"/>
            <wsdl:output message="ns:deleteUserByIdResponse" wsaw:Action="urn:deleteUserByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithTimeZone">
            <wsdl:input message="ns:addNewUserWithTimeZoneRequest" wsaw:Action="urn:addNewUserWithTimeZone"/>
            <wsdl:output message="ns:addNewUserWithTimeZoneResponse" wsaw:Action="urn:addNewUserWithTimeZoneResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServiceSoap11Binding" type="ns:UserServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getErrorByCode">
            <soap:operation soapAction="urn:getErrorByCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="kickUserByPublicSID">
            <soap:operation soapAction="urn:kickUserByPublicSID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrganisation">
            <soap:operation soapAction="urn:addOrganisation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithExternalType">
            <soap:operation soapAction="urn:addNewUserWithExternalType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
            <soap:operation soapAction="urn:setUserObjectAndGenerateRecordingHashByURL" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserToOrganisation">
            <soap:operation soapAction="urn:addUserToOrganisation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loginUser">
            <soap:operation soapAction="urn:loginUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserByExternalUserIdAndType">
            <soap:operation soapAction="urn:deleteUserByExternalUserIdAndType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectMainLandingZone">
            <soap:operation soapAction="urn:setUserObjectMainLandingZone" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUser">
            <soap:operation soapAction="urn:addNewUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserAndNickName">
            <soap:operation soapAction="urn:setUserAndNickName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
            <soap:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlag" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
            <soap:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURL" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersByOrganisation">
            <soap:operation soapAction="urn:getUsersByOrganisation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHash">
            <soap:operation soapAction="urn:setUserObjectAndGenerateRoomHash" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSession">
            <soap:operation soapAction="urn:getSession" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserById">
            <soap:operation soapAction="urn:deleteUserById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithTimeZone">
            <soap:operation soapAction="urn:addNewUserWithTimeZone" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserServiceSoap12Binding" type="ns:UserServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getErrorByCode">
            <soap12:operation soapAction="urn:getErrorByCode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="kickUserByPublicSID">
            <soap12:operation soapAction="urn:kickUserByPublicSID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrganisation">
            <soap12:operation soapAction="urn:addOrganisation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithExternalType">
            <soap12:operation soapAction="urn:addNewUserWithExternalType" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
            <soap12:operation soapAction="urn:setUserObjectAndGenerateRecordingHashByURL" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserToOrganisation">
            <soap12:operation soapAction="urn:addUserToOrganisation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loginUser">
            <soap12:operation soapAction="urn:loginUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserByExternalUserIdAndType">
            <soap12:operation soapAction="urn:deleteUserByExternalUserIdAndType" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectMainLandingZone">
            <soap12:operation soapAction="urn:setUserObjectMainLandingZone" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUser">
            <soap12:operation soapAction="urn:addNewUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserAndNickName">
            <soap12:operation soapAction="urn:setUserAndNickName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
            <soap12:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlag" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
            <soap12:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURL" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersByOrganisation">
            <soap12:operation soapAction="urn:getUsersByOrganisation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHash">
            <soap12:operation soapAction="urn:setUserObjectAndGenerateRoomHash" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSession">
            <soap12:operation soapAction="urn:getSession" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserById">
            <soap12:operation soapAction="urn:deleteUserById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithTimeZone">
            <soap12:operation soapAction="urn:addNewUserWithTimeZone" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserServiceHttpBinding" type="ns:UserServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getErrorByCode">
            <http:operation location="getErrorByCode"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="kickUserByPublicSID">
            <http:operation location="kickUserByPublicSID"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrganisation">
            <http:operation location="addOrganisation"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithExternalType">
            <http:operation location="addNewUserWithExternalType"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
            <http:operation location="setUserObjectAndGenerateRecordingHashByURL"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserToOrganisation">
            <http:operation location="addUserToOrganisation"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loginUser">
            <http:operation location="loginUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserByExternalUserIdAndType">
            <http:operation location="deleteUserByExternalUserIdAndType"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectMainLandingZone">
            <http:operation location="setUserObjectMainLandingZone"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUser">
            <http:operation location="addNewUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserAndNickName">
            <http:operation location="setUserAndNickName"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
            <http:operation location="setUserObjectAndGenerateRoomHashByURLAndRecFlag"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
            <http:operation location="setUserObjectAndGenerateRoomHashByURL"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersByOrganisation">
            <http:operation location="getUsersByOrganisation"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserObjectAndGenerateRoomHash">
            <http:operation location="setUserObjectAndGenerateRoomHash"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSession">
            <http:operation location="getSession"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserById">
            <http:operation location="deleteUserById"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewUserWithTimeZone">
            <http:operation location="addNewUserWithTimeZone"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserService">
        <wsdl:port name="UserServiceHttpSoap11Endpoint" binding="ns:UserServiceSoap11Binding">
            <soap:address location="http://131.246.123.153:5080/openmeetings/services/UserService.UserServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserServiceHttpSoap12Endpoint" binding="ns:UserServiceSoap12Binding">
            <soap12:address location="http://131.246.123.153:5080/openmeetings/services/UserService.UserServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserServiceHttpEndpoint" binding="ns:UserServiceHttpBinding">
            <http:address location="http://131.246.123.153:5080/openmeetings/services/UserService.UserServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
